<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong><%=error.title%></strong> <%=error.description%>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>