<div class="card">
  <div class="image" style="background: url('<%= article.urlToImage %>');"></div>
  <div class="card-body d-flex flex-column">
    <h5 class="card-title"><%= article.publishedAt.substring(0, 10) %></h5>
    <p class="card-text flex-grow-1">
      <%- article.title %>
    </p>
    <a target="_blank" href="<%= article.url %>" class="btn btn-primary">Full article</a>
  </div>
</div>