* {
  font-family: 'montserrat, Courier New, Courier, monospace';
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

/* Navbar */
nav {
  background-color: white;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
}

nav > .container {
  padding-left: 1rem;
  padding-right: 1rem;
}

nav .navbar-brand {
  font-size: 2rem;
  font-style: italic;
}

/* Header */
#header-text {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 4px;
  max-width: max-content;
}

/* Card */
.card {
  width: 100%;
  margin-bottom: 2%;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  border-radius: 0;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-body > a {
  width: max-content;
}

.card > .image {
  min-height: 220px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center !important;
}

.card > .card-body {
  padding: 2rem 2rem;
}

.card-text {
  font-size: 1.5rem;
}

/* Media queries */
@media only screen and (min-width: 768px) {
  .card {
    width: 32%;
  }

  #card-container > .card:nth-child(3n + 1) {  
    margin-right: 2%;
  }
  
  #card-container > .card:nth-child(3n + 2) {  
    margin-right: 2%;
  }
}
