<!doctype html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <!-- Navbar -->
    <%- include('../partials/navbar.ejs') %>

    <!-- Content -->
    <div class="container d-flex flex-column px-3">
      <!-- Header -->
      <h1 id="header-text" class="mb-3">Viewing top 50 technology news!</h1>

      <!-- Articles -->
      <div class="d-flex flex-row flex-wrap mb-3" id="card-container">
        <% articles.forEach(article => { %>
          <%- include('../partials/card.ejs', {article}) %>
        <% }) %>
      </div>
    </div>

    <!-- Script-tags -->
    <%- include('../partials/script.ejs') %>
  </body>
</html>
